p, h1{
  color: #c8ff00;
}

.remove-button, .done-button{
  background-color: blueviolet;
  border: none;
  color: #c8ff00;
  height: 5.3vh;
  border-radius: 1em;
  margin-left: 0.5em;
  width: 10vw;
  font-size: medium;
}

.remove-button{
  color: red;
}

.done-button{
  color: #00ff04;
}

li{
  color: aquamarine;
  margin: 1em;
}

.odd-li{
  color: #ffc24d;
}

.last-li{
  color: rgba(255, 0, 183, 0.82);
}
