<ng-container *ngIf="taskLists.length >0; else noTask">
  <p [ngStyle]="{color: getColor()}" >Zadania do wykonania: {{taskLists.length}}</p>
  <ul>
    <li appDate [date]="task.created" *ngFor="let task of taskLists | sortName; let odd =odd " [ngClass]="{'odd-li' : odd, 'last-li':taskLists.length===1}" >
      {{task.name | transformTask: '!'}}
      <button class="remove-button" (click)="remove(task)">Usuń</button>
      <button class="done-button" (click)="done(task)">Zrobione</button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>
    Brak zadań do wykonania!
  </p>
</ng-template>
